.container-store {
    width: 165%;
    height: 60vh;
    position: relative;
    overflow: hidden;
    margin-top: 5%;
}

.slider-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 12px;
    margin-top: 0;
}

.slide {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    position: relative;
}

.imagen-carrusel {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide-text {
    position: absolute;
    bottom: 20px;
    left: 0;
    /* Pegado al borde izquierdo */
    width: 100%;
    text-align: center;
    color: white;
    text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.9);

}

.slide-text h2 {
    font-size: 15vw;
    font-weight: 900;
    /* Extra grueso */
    margin-bottom: 0;
    text-transform: uppercase;
    line-height: 1;
    /* Sin espacios extra */
}

.slide-text p {
    font-size: 1.5em;
    margin-top: 10px;
}