.container-home{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'DM Sans', sans-serif;
    overflow: hidden;
    box-sizing: border-box;
    color: white;
}
.container-titulo {
    position: absolute;
    top: 20px;
    left: 20px;
    margin: 0;
    z-index: 100;
    color: #333;
    font-size: 100%;
    /* El tamaño de fuente de 100% para el contenedor no afectará directamente al h2 */
    font-weight: bold;
    margin-left: 50px; 
    display: flex;
    /* Convierte el contenedor en un flex container */
    align-items: center;
    /* Alinea los elementos hijos verticalmente al centro */
    gap: 10px;
    /* Añade un espacio entre la imagen y el título */
}

.logo-home {
    width: 80px;
    /* Tamaño de tu logo */
    height: auto;
    /* Mantiene la proporción de la imagen */
}


.Titulo-home {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin: 0;
    white-space: nowrap;
}

.container-welcome {
    margin-left: 5%;
    text-align: start;
    color: black;
    margin-top: 20%;
}

.titulo-secundario {
    font-size: 20px;
    color: black;
    margin-bottom: 0;
    font-weight: bold;
}

.titulo-h1 {

    color: #9d6d28;
    margin-top: 5px;
    margin-bottom: 20px;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 40px;
}

.parrafo-principal-home {
    font-size: 1em;
    line-height: 1.6;
    color: black;
    margin-bottom: 0;
}

.imagen-home {
    width: 20%;
}

.botones-home {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 10px;
    z-index: 100;
}

.botones-home a {
    background-color: #9d6d28;
    color: white;
    border: none;
    padding: 10px 15px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.botones-home a:hover {
    background-color: #81571f; /* Un tono más oscuro al pasar el mouse */
}
.imagenHome {
    width: 60%; /*Más ancha*/
    height: 10%; /* Menos alta */
    object-fit: cover; /* Crucial para que la imagen cubra el espacio sin distorsionarse */
    margin-left: auto; /* Mueve la imagen a la derecha */
    display: block; /* Necesario para que 'margin-left: auto' funcione */
    margin-top: -40%;
    border-top-left-radius: 50%; /* Redondea la esquina superior izquierda */
    border-bottom-left-radius: 50%; /* Redondea la esquina inferior izquierda */
}
.video {
    width: 55%;
    max-width: 700px;
    position: static;
    border-radius: 15px;
    float: left;
    margin-left: 45%;
    transform: translateY(-39%);
    margin-bottom: -25%; 
}