.notificaciones-header {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.back-arrow {
    font-size: 1.8rem;
    cursor: pointer;
    color: #c89b3c;
    margin-right: 15px;
    transition: transform 0.2s ease;
}

.back-arrow:hover {
    transform: translateX(-5px);
}
.adjustments-page-title{
    color: #000;
}

.notificaciones-options {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.opcion-item {
    display: flex;
    align-items: center;
    gap: 15px;
}

.opcion-item input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.opcion-item .card-icon-wrapper {
    /* Mantenemos el estilo del icono dorado */
    color: #c89b3c;
    flex-shrink: 0;
}

.opcion-label {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    color: #666;
    cursor: pointer;
}

.guardar-cambios-btn {
    margin-top: 40px;
    padding: 15px 30px;
    background-color: #c89b3c;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.guardar-cambios-btn:hover {
    background-color: #b58d34;
    transform: translateY(-2px);
}