.catalago-shop{
    width: 65%;
    margin-left: 20%;  
}

.slide-text-catalogo {
    position: absolute;
    bottom: -50px;
    left: 0;
    /* Pegado al borde izquierdo */
    width: 100%;
    text-align: center;
    color: white;
    text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.9);

}

.slide-text-catalogo h2 {
    font-size: 15vw;
    font-weight: 900;
    /* Extra grueso */
    margin-bottom: 0;
    text-transform: uppercase;
    line-height: 1;
}

.slide-text-catalogo p {
    font-size: 1em;
    margin-top: 10px;
}
.catalago-shop .catalog-total-stock {
    color: #000; 
}


.catalago-shop .catalog-size-tag {
    color: #000; 
}
