.password-input-container {
    width: 100%; 
    max-width: 400px; 
    margin-top: 20px;
    position: relative; 
}
.contenido-card{
    margin-left: -30px;
    margin-top: 40px;
}
.password-input {
    width: 100%;
    height: 50px; 
    padding: 10px 15px;

    border: 1px solid #ccc;
    border-radius: 10px; 
    font-size: 1em;
    box-sizing: border-box; 
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.password-input:hover{
    border-color: #DAA520;
}

.password-input:focus {
    border-color: #DAA520;
    outline: none;
    box-shadow: 0 0 0 3px rgba(218, 165, 32, 0.5);
}

.password-toggle-icon {
    position: absolute;
    right: 15px;
    top: 50%; /* Lo posiciona a la mitad del contenedor. */
    transform: translateY(-50%); /* Ajuste fino para centrado vertical. */
    cursor: pointer;
    color: #888;
    font-size: 1.2em;
    z-index: 10;
}
.btn-guardar-contrasena {
    background-color: #b59b64;; 
    color: white;
    padding: 12px 15px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
    width: 120%;
    margin-top: 20px;
    margin-left: 0; 
    
    box-sizing: border-box;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-guardar-contrasena:hover {
    background-color: #9d6d28;
}


.titulo-restablecerpass{
    text-align: center; 
    margin-right: 0; 
    margin-top: 8%;
    margin-left: 60px;
}

.password-input-restablecer:hover { 
    border-color: #DAA520; 
}

.password-input-restablecer:focus { 
    border-color: #DAA520; 
    outline: none;
    box-shadow: 0 0 0 3px rgba(218, 165, 32, 0.5);
}

.boton2-restablecer {
    color: #c89b3c;
    text-decoration: none;
    margin-top: 15px;
    font-size: 0.95em;
    transition: color 0.3s ease;
}

.boton2-restablecer:hover {
    color: #9d6d28;
    text-decoration: underline;
}

.instrucciones{
    text-align: center;
    margin-right: -30px;
}
.mensaje-confirmacion {
  text-align: center;           
  color: #2e8b57;              
  font-size: 1em;
  margin-top: 15px;
  margin-bottom: 10px;
  background-color: #eafaf1;  
  border: 1px solid #a3d9a5;
  border-radius: 8px;
  padding: 10px 15px;
  width: 100%;
  max-width: 400px;            
  margin-left: 10%;           /*  Esto centra el bloque */
  box-sizing: border-box;

}

.mensaje-error-pass {
  text-align: center;
  color: #b22222;                /* rojo oscuro */
  font-size: 1em;
  
  margin-top: 15px;
  margin-bottom: 10px;
  background-color: #fdecea;     /* fondo rojo muy claro */
  border: 1px solid #f5c2c0;     /* borde rosado suave */
  border-radius: 8px;
  padding: 10px 15px;
  width: 100%;
  max-width: 400px;
  margin-left: auto;             /* centra horizontalmente */
  margin-right: -10%;
  box-sizing: border-box;
  word-wrap: break-word;         /* evita desbordes */
  overflow-wrap: break-word;     /* rompe texto largo */
  
}


